@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-one: #061121;
  --background-two: #010118;
}

body {
  color: rgb(238, 238, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}