@import "@/mixins";

header {
    background-color: var(--background-one);

    div {
        @include flexSpaceBetween();
        @include AlignCenter;
        padding: .8em;

        a {
            font-size: 2.2em;
        }
    }
}